{
    "extends": [
        "plugin:vue/vue3-essential",
        "eslint:recommended",
        "@vue/prettier",
        "@vue/prettier/@typescript-eslint",
        "./.eslintrc-auto-import.json"
    ]
}
